<div class="row">
    <h1>FORMACIÓN ACADÉMICA</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Bachiller en Economía y Gestión</h1> - <h3>2007 - 2010</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime saepe mollitia optio, iste dolorum amet, adipisci vitae temporibus ea quasi pariatur architecto voluptatem asperiores expedita rerum beatae voluptate. Assumenda.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Argentina Programa 2022 - Full Stack Developer Jr.</h1> - <h3>2021 - 2022</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime saepe mollitia optio, iste dolorum amet, adipisci vitae temporibus ea quasi pariatur architecto voluptatem asperiores expedita rerum beatae voluptate. Assumenda.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Gestión de compras y stocks</h1> - <h3>2018</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime saepe mollitia optio, iste dolorum amet, adipisci vitae temporibus ea quasi pariatur architecto voluptatem asperiores expedita rerum beatae voluptate. Assumenda.
            </p>
        </ul>
    </div>
</div>