<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>PRIMERA PRESENTACION</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime saepe mollitia optio, iste dolorum amet, adipisci vitae temporibus ea quasi pariatur architecto voluptatem asperiores expedita rerum beatae voluptate. Assumenda.
            </p>
        </ul>
        <ul>
            <li>
                <h1>SEGUNDA PRESENTACION</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime saepe mollitia optio, iste dolorum amet, adipisci vitae temporibus ea quasi pariatur architecto voluptatem asperiores expedita rerum beatae voluptate. Assumenda.
            </p>
        </ul>
        <ul>
            <li>
                <h1>TERCERA PRESENTACION</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime saepe mollitia optio, iste dolorum amet, adipisci vitae temporibus ea quasi pariatur architecto voluptatem asperiores expedita rerum beatae voluptate. Assumenda.
            </p>
        </ul>
    </div>
</div>